body {
  color: lightcyan;
}


.alia {
	background-color: lightgray;
	margin: 5px;
	padding: 5px;
	display: inline-block;
}
.alia {
	background-image: url(https://1.bp.blogspot.com/-gOKvLWx-k40/X2CEuvVWf-I/AAAAAAAAJW4/8oo2BiforgQ6E96dld_8T0rrznL3N6efgCLcBGAsYHQ/s1920/Anime%2BSky%2BBackground%2B41.jpg);
}
